.shop_container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-left: 3rem;
  margin-top: 3rem;
}

.cart_container {
  background: rgba(255, 153, 0, 0.3);
  padding: 1rem;
}