.nav_container {
  display: flex;
  justify-content: space-between;
  background: rgb(53, 47, 47, 0.5);
}
.hero-text {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 5rem;
}

nav ul {
  display: flex;
}

ul {
  list-style: none;
  margin-right: 5rem;
}

ul li a {
  text-decoration: none;
  color: white;
 
}
ul li {
  margin-left: 2.5rem;
  margin-top: 4px;
}

.menu_hamburger {
  display: none;
}
